language: node_js
node_js:
  - "10"

cache:
  directories:
    - "node_modules"

install:
  - yarn

script:
  - yarn build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $githubkey
  keep-history: true
  local-dir: dist
  fqdn: maxdb.net
  target-branch: master